<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <link rel="apple-touch-icon" href="apple-touch-icon.png?v=KmmNxX8Qyr">
  <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png?v=KmmNxX8Qyr" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicons/favicon-194x194.png?v=KmmNxX8Qyr" sizes="194x194">
  <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png?v=KmmNxX8Qyr" sizes="96x96">
  <link rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png?v=KmmNxX8Qyr" sizes="192x192">
  <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png?v=KmmNxX8Qyr" sizes="16x16">
  <link rel="manifest" href="images/favicons/manifest.json?v=KmmNxX8Qyr">
  <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg?v=KmmNxX8Qyr" color="#5bbad5">
  <link rel="shortcut icon" href="images/favicons/favicon.ico?v=KmmNxX8Qyr">
  <meta name="apple-mobile-web-app-title" content="Valentin Kirilov">
  <meta name="application-name" content="Valentin Kirilov">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png?v=KmmNxX8Qyr">
  <meta name="msapplication-config" content="images/favicons/browserconfig.xml?v=KmmNxX8Qyr">
  <meta name="theme-color" content="#ffffff">

  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <%- css('css/style') %>
  <%- partial('google-analytics') %>
</head>
